<nav class="navbar navbar-light bg-white">
  <a href="#" class="navbar-brand">{{ user.username }}</a>
  <form class="form-inline">
      <div class="input-group">
          <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2">
          <div class="input-group-append">
              <button class="btn btn-outline-primary" type="button" id="button-addon2">
                  <i class="fa fa-search"></i>
              </button>
          </div>
          <button (click)="onLogout()" class="btn btn-outline-danger" style="margin-left: 1rem;">Logout</button>
      </div>
  </form>
</nav>


<div class="container-fluid gedf-wrapper">
  <div class="row">
      <div class="col-md-3">
          <div class="card">
              <div class="card-body">
                  <div class="h5">@LeeCross</div>
                  <div class="h7 text-muted">Fullname : Miracles Lee Cross</div>
                  <div class="h7">Developer of web applications, JavaScript, PHP, Java, Python, Ruby, Java, Node.js,
                      etc.
                  </div>
              </div>
              <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                      <div class="h6 text-muted">Followers</div>
                      <div class="h5">5.2342</div>
                  </li>
                  <li class="list-group-item">
                      <div class="h6 text-muted">Following</div>
                      <div class="h5">6758</div>
                  </li>
                  <li class="list-group-item">Vestibulum at eros</li>
              </ul>
          </div>
      </div>
      <div class="col-md-6 gedf-main">

          <!--- \\\\\\\Post-->
          <div class="card gedf-card">
              <div class="card-header">
                  <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                      <li class="nav-item">
                          <a class="nav-link active" id="posts-tab" data-toggle="tab" href="#posts" role="tab" aria-controls="posts" aria-selected="true">Make
                              a publication</a>
                      </li>
                  </ul>
              </div>
              <form class="card-body" (ngSubmit)="onSubmit($event)">
                  <div class="tab-content" id="myTabContent">
                      <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                          <div class="form-group">
                              <div class="custom-file">
                                  <input type="file" class="custom-file-input" id="customFile" #imageSelect (change)="model.image = imageSelect.files[0]">
                                  <label class="custom-file-label" for="customFile">Upload image</label>
                              </div>
                          </div>

                          <div class="form-group">
                              <label class="sr-only" for="message">post</label>
                              <textarea class="form-control" id="message" rows="3" placeholder="What are you thinking?" name="description" [(ngModel)]="model.description"></textarea>
                          </div>

                      </div>
                  </div>
                  <div class="btn-toolbar justify-content-between">
                      <div class="btn-group">
                          <button type="submit" class="btn btn-primary">share</button>
                      </div>
                  </div>
                </form>
          </div>

          <!-- Posts go here -->
          <!-- <app-post></app-post>
          <app-post></app-post>

          <app-post></app-post>
          <app-post></app-post>
          <app-post></app-post>
          <app-post></app-post>
          <app-post></app-post> -->
          <!-- Posts end here -->
          <app-post *ngFor="let post of posts" [post]="post"></app-post>
      </div>
      <div class="col-md-3">
        <app-user-debug></app-user-debug>
      </div>
  </div>
</div>
