<div class="container">

  <div class="row">
    <div class="col-md-5">
      <a
      style="cursor: pointer;"
      class="list-group-item clearfix"
      *ngFor="let user of users"
      (click)="setSelected(user)"
      [style.background-color]="user.username === selectedUser.username ? 'green' : null"
      >
          <div class="pull-left">
            <h4 class="list-group-item-heading">{{ user.username }}</h4>
          </div>
          <span class="pull-right">
            image will go here
          </span>
        </a>
      </div>
      <div class="col-md-7">
        <div class="row">
          <div class="col-xs-12">
            Talk to {{ selectedUser.username }}
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <ul class="list-group">
              <li *ngFor="let message of messages" class="list-group-item">
                {{ message.from }}: {{ message.message }}
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <input type="text" name="message" [(ngModel)]="message">
              <button
                class="btn btn-primary"
                [disabled]="!isWsOpen"
                (click)="sendMessage()">Send</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
