<form (ngSubmit)="onSubmit()">
  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required [(ngModel)]="model.username">

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required [(ngModel)]="model.password">

    <button type="submit">Login</button>
    <label>
      <input
      type="checkbox"
      name="remember"
      [(ngModel)]="model.rememberMe">
        Remember me
    </label>
  </div>
</form>
