<div class="card gedf-card">
  <div class="card-header">
      <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex justify-content-between align-items-center">
              <div class="mr-2">
                  <img class="rounded-circle" width="45" src="https://picsum.photos/50/50" alt="">
              </div>
              <div class="ml-2">
                  <div class="h5 m-0">@{{ post.user?.username }}</div>
              </div>
          </div>
          <div>
              <div class="dropdown">
                  <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fa fa-ellipsis-h"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
                      <div class="h6 dropdown-header">Configuration</div>
                      <a class="dropdown-item" href="#">Save</a>
                      <a class="dropdown-item" href="#">Hide</a>
                      <a class="dropdown-item" href="#">Report</a>
                  </div>
              </div>
          </div>
      </div>

  </div>
  <div class="card-body">
      <!-- <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i> date goes here</div> -->
      <img src="http://localhost:8080/images/{{ post.imageId }}" width="100%">
      <p class="card-text">
          {{ post.description }}
      </p>
  </div>
  <div class="card-footer">
      <a (click)="$event.preventDefault() || isLiked ? unlikePost() : likePost()" class="card-link"><i class="fa fa-gittip"></i> {{ isLiked ? 'Unlike' : 'Like'}}</a>
      <a class="card-link"><i class="fa fa-comment"></i> Comment</a>
      <a class="card-link"><i class="fa fa-mail-forward"></i> Share</a>
  </div>

  <span *ngFor="let comment of post.comments"><span style="font-weight: bold">{{ comment.user.username }}</span>: {{ comment.comment }}</span>

  <div class="form-inline">
    <input [(ngModel)]="comment" class="form-control" type="text" name="comment" id="comment" placeholder="comment...">
    <button class="btn btn-secondary" (click)="addComment()">Comment</button>
  </div>
</div>
