<form (ngSubmit)="onSubmit()">
    <div class="container">
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter email" name="email" required [(ngModel)]="model.email">

      <label for="username"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username" required [(ngModel)]="model.username">

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required [(ngModel)]="model.password">

      <button type="submit">Sign Up</button>
    </div>
  </form>
