<div class="card gedf-card" *ngFor="let user of users">
  <div class="card-body">
      <h5 class="card-title">{{ user.username }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ user.id }}</h6>
      <div class="card-text">
        <h5>Followers:</h5>
        <ul>
          <li *ngFor="let follower of user.followers">{{ follower.username }}</li>
        </ul>
        <br>
      </div>
      <a (click)="onFollow(user.id)" class="card-link">Follow</a>
      <a (click)="onUnfollow(user.id)" class="card-link">Unfollow</a>
  </div>
</div>
